<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body background="/img/bg.jpg">
    {{>header}}
    <p><b>Where:</b> Esthell Resort. </p>
    <p><b>When:</b> 06 - Mar - 2020</p>
    <p><b>Location:</b> Chengalpattu <input id="map" type="image" onclick="window.location.href = 'https://goo.gl/maps/mSJ5Gt5czj4oRrQu6';" src="/img/map.png" ></p>

</body>
</html>