<div class="row">
<div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/nancy.jpg" alt="Avatar"  style="width:250px;height:200px">
    </div>
    <div class="flip-card-back">
      <h1>Nancy Priya</h1>
      <p>Technology Lead</p>
    </div>
  </div>
</div>
</div>

<div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/kishor.jpg" alt="Avatar"  style="width:250px;height:200px">
    </div>
    <div class="flip-card-back">
      <h1>Kishor Balakrishnan</h1>
      <p>Technology Lead</p>
    </div>
  </div>
</div>
</div>

<div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/abhinaya.jpg" alt="Avatar"  style="width:250px;height:200px">
    </div>
    <div class="flip-card-back">
      <h1>Abhinaya</h1>
      <p>Technology Analyst</p>
    </div>
  </div>
</div>
</div>

<div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/mugil.jpg" alt="Avatar"  style="width:250px;height:200px">
    </div>
    <div class="flip-card-back">
      <h1>Mugilmathi</h1>
      <p> Senior System Engineer</p>
    </div>
  </div>
</div>
</div>

<div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/ajay.jpg" alt="Avatar"  style="width:250px;height:200px">
    </div>
    <div class="flip-card-back">
      <h1>Ajay Daniel</h1>
      <p> Senior System Engineer</p>
    </div>
  </div>
</div>
</div>

<div class="col">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/img/pratheep.jpg" alt="Avatar"  style="width:250px;height:200px">
    </div>
    <div class="flip-card-back">
      <h1>Pratheep</h1>
      <p>System Engineer</p>
    </div>
  </div>
</div>
</div>

</div>